<form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <div class="container">
      <h1>Login</h1>
      <hr>
  
      <label for="username"><b>Username</b></label>
      <input type="email" [(ngModel)]="model.username" placeholder="Enter Email" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" [(ngModel)]="model.password" placeholder="Enter Password" name="password" required>
  
      <button type="submit"  class="btnLogin">Login</button>
    </div>
    <div class="container signin">
        <p>Do not have an account? <a href="register">Sign up</a>.</p>
      </div>
  </form>